@page "/"

@using BaSyx.Models.Core.AssetAdministrationShell.Generics;
@using CNCMachineAASDashboard.Client.Pages.MaintenanceUI;
@using CNCMachineAASDashboard.Client.Services;
@using BaSyx.Models.Core.AssetAdministrationShell.Implementations;
@using CNCMachineAASDashboard.Shared.Models.AAS;
@using Microsoft.AspNetCore.SignalR.Client;





<RadzenImage Path="Images/Logo.jpg" Style="width: 100%;hight:30px;margin-top:0px; margin-bottom:0px;" />

@if (aas != null)
{
    
    <div class="card bg-dark mb-3">
        <div class="card-header"><h4 class="text-white">Asset Administration Shell</h4></div>
        <ul class="list-group list-group-flush">

            <IdshortComponent _Idshort="@aas.idShort"></IdshortComponent>
            <IdentificationComponent _Identification="@aas.identification"></IdentificationComponent>
            <DescriptionComponent _Description="@aas.description"></DescriptionComponent>

        </ul>
    </div>

   

    <AssetComponent asset="@aas.asset"></AssetComponent>
    @*<input type="text" @bind="@message" @onkeypress="HandleKeyPress" />*@
    @*<button @onclick="async () => await SignalRService.SendMessage(message) "></button>*@
    @if (messageList != null)
    {
        @foreach (var item in messageList)
        {
            <h1> @item </h1>
        }
    }
   
    
}
else
{
    <h1>not getting the AAS</h1>

 }
 



@code {

    private AASModel? aas;
    public string? message;
    public List<string>? messageList;
  


    [Inject]
    private ISignalRService SignalRService { get; set; }
    private HubConnection? hubConnection;
    [Inject]
    private NavigationManager NavigationManager { get; set; }



    protected override async Task OnInitializedAsync()
    {
        
        SignalRService.OnReceivedAAS += HandleMessageReceived;
        SignalRService.OnReceivedMessage += HandleMessage;
        await SignalRService.StartConnection();
        List<string> newList = new List<string>();
        messageList = newList;

    }
   
    private void HandleMessageReceived(AASModel data)
    {
      
        aas = data;

        StateHasChanged();
    }
    private void HandleMessage(string data)
    {


        messageList?.Add(data);

        StateHasChanged();
    }
   
   
  
}


 